@font-face {
   font-family: NaamkaInk;
   src: url(naamka-ink.ttf);
}
@font-face {
   font-family: "Naamka Ink";
   src: url(naamka-ink.ttf);
}
@font-face {
   font-family: ink;
   src: url(naamka-ink.ttf);
}
@font-face {
   font-family: naamkaink;
   src: url(naamka-ink.ttf);
}
@font-face {
   font-family: naamka-ink;
   src: url(naamka-ink.ttf);
}